{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Karthik S</title>
	<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<br>
	<div class="container">
		<div class = "row">
			<div class = "col-md-3">
				<div class = "card card-body" id="profile-wrapper">
					<img id="profile-pic" src="{% static '/images/profile-picture.jpg' %}">
					<br>
					<h4>Hi I'm Karthik</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>

			<div class = "col-md-9">
				<div class = "card card-body">
					<h4>My first job as a developer</h4>
					<hr>
					<p>I started as a Web developer at Icube Consulting services in 2018. In the following years I worked on a Analytics tool called Intuceo.</p>
				</div>
			</div>
		</div>
		<br>
		<div class = "row">
			<div class = "col-md-6">
				<div class = "card card-body">
					<h5>My Experience as a developer</h5>
					<hr>
					<p>Full stack developer</p>
				</div>
			</div>
			<div class = "col-md-6">
				<div class = "card card-body">
					<h5>What I know</h5>
					<hr>
					<p>Python, Django, Django Rest Framework, Javascript, Jquery, Angular 7</p>
				</div>
			</div>
		</div>
		<br>
		<div class = "row">
			<div class = "col-md-6">
				<div class = "card card-body">
					<h5>How I learn</h5>
					<hr>
				</div>
			</div>
			<div class = "col-md-6">
				<div class = "card card-body">
					<h5>My short term goal</h5>
					<hr>
				</div>
			</div>
		</div>
		<br>
	</div>
</body>
</html>